@font-face{
  font-family:"TruliaSans";src: url("https://www.trulia.com/images/fonts/TruliaSans_20190627/TruliaSansWeb-Regular.woff2") format("woff2"), url("https://www.trulia.com/images/fonts/TruliaSans_20190627/TruliaSansWeb-Regular.woff") format("woff");
}

@font-face{
  font-family:"TruliaSansBold";src: url("https://www.trulia.com/images/fonts/TruliaSans_20190627/TruliaSansWeb-Bold.woff2") format("woff2"), url("https://www.trulia.com/images/fonts/TruliaSans_20190627/TruliaSansWeb-Bold.woff") format("woff");
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "TruliaSans", system,  -apple-system, Roboto, Segoe UI Bold,  Arial, sans-serif;
  color: rgb(59, 65, 68);
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.1px;
}


/* App container */

.appContainer {
  border: solid 16px transparent;
  border-style: solid;
  border-color: transparent;
  border-width: 16px 8px 0px;
  box-sizing: border-box;
  display: block;
  /* CHANGE THESE LATER */
  position: absolute;
  width: 325px;
  /* right: 179px; */
  right: 20%;
}


#tourInfoContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.tourGrid {
  -moz-box-flex: 1;
  flex: 1 0 auto;
  display: block;
}

.toggleInfo {
  font-weight: normal;
  background-color: rgb(255, 255, 255);
  position: relative;
  transition: box-shadow 0s ease 0s, border 0s ease 0s;
  color: rgb(0, 120, 130);
  margin: 0px;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 16px;
  line-height: 1.5;
  padding: 8px 16px;
  width: 100%;
  outline: none;
}
.noTour {
  border: 1px solid transparent;
  border-bottom: 1px solid rgb(232, 233, 234);
  border-bottom-left-radius: 8px;
}
.noReq {
  border: 1px solid transparent;
  border-bottom: 1px solid rgb(232, 233, 234);
  border-bottom-right-radius: 8px;

}

.selTour {
  box-shadow: rgb(255, 255, 255) 0px 2px  0px -1px;
  border: 1px solid rgb(232, 233, 234);
  border-bottom: none;
}
.selReq {
  box-shadow: rgb(255, 255, 255) 0px 2px  0px -1px;
  border: 1px solid rgb(232, 233, 234);
  border-bottom: none;
}


/* Module Container */

#moduleContainer {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(59, 65, 68, 0.18) 0px 17px 21px -1px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(232, 233, 234);
  padding: 15px;
  border-radius: 0px 8px 8px 8px;
  border-top: none;
}

/* Tour Type */

#toolTip {
  max-width: 33vw !important;
  padding: 3px 10px;
}

.tourTypeContainer {
  color: rgb(134, 144, 153);
  flex-direction: row;
  display: flex;
}
#tourButtonContainer {
  display: inline-flex;
  width: 100%;
}
.tourButton {
  flex: 1 1 auto;
  border-style: solid;
  cursor: pointer;
  font-weight: normal;
  font-size: 16px;
  font-family: "TruliaSansBold", system, -apple-system, Roboto, Segoe UI Bold, Arial, sans-serif;
  line-height: 1.5;
  padding: 8px 16px;
  border-color: rgb(205, 209, 212);
  background-color: white;
  outline: none;
}
.tour {
  border-radius: 8px 0 0 8px;
}
.digital {
  border-radius: 0 8px 8px 0;
}


.notSelected:hover {
  color: rgb(59, 65, 68);
  background-color: rgb(232, 233, 234);
  border-color: transparent;
}
.notSelected:active {
  color: rgb(255, 255, 255);
  background-color: rgb(134, 144, 153);
  border-color: transparent;
}

.selected {
  background-color: rgb(0, 120, 130);
  color: rgb(255, 255, 255);
  border: none;
}

.svg {
  height: 24px;
  width: 24px;
}

/* Financing box */

#financeBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#financeBox:hover {

}

#checkContainer {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

#finBox {
  opacity: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 20px;
}

#financeMessage {
  color: rgb(134, 144, 153);
  font-size: 12px;
  line-height: 1.33;
  cursor: pointer;
  width: 100%;
}

#finBox:checked {
  filter: drop-shadow(rgba(0, 120, 130, 0.5) 0px 2px 3px);
}

/* checkMark SVG styles */

#finBox:checked ~ * .checkContent {
  display: block;
}


.checkContent {
  display: none;
}

#financeBox:hover #checkSquare {
  stroke: rgb(59, 65, 68);
}

#checkSquare {
  fill: none;
  stroke: rgb(205, 209, 212);
}

#finBox:checked ~ * #checkSquare {
  fill: rgb(0, 120, 130);
  stroke: rgb(0, 120, 130);
  filter: drop-shadow(rgba(0, 120, 130, 0.5) 0px 2px 3px);
}

/* Calendar Carousel */

#calendarCarousel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin: -8px -4px 0 -4px;
  padding: 8px 4px 8px 0;
  transition: transform 0.45s ease 0s;
  overflow-x: auto;
  scrollbar-width: none;
}
#calendarCarousel::-webkit-scrollbar {
  display: none;
}

/* Carousel left/right arrows */

.calLeft {
  position: absolute;
  left: 0;
  z-index: 1;
}
.calRight {
  position: absolute;
  right: 0;
}

.calArrow {
  outline: none;
  background-color: white;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border-color: rgba(255, 255, 255, 0.57);
}
.calArrow:active {
  border-color: transparent;
  box-shadow: none;
  background-color: rgb(134, 144, 153);
  color: rgb(255, 255, 255);
  fill: rgb(255, 255, 255);
}

.hideArrow {
  opacity: 0;
  transition-delay: .5s;
}

.showArrow {
  opacity: 1;
  transition-delay: .5s;
}

/* Calendar Item */

.calGridItem {
  border-style: solid;
  border-color: transparent;
  border-width: 8px 4px 0px;
  width: 22.5%;
  flex-shrink: 0;
  transition: transform 0.45s ease 0s;
}

.calGridRight {
  transform: translateX(-300%);
  transition: transform 0.45s ease 0s;
}

.calButton {
  border-radius: 8px;
  cursor: pointer;
  color: rgb(59, 65, 68);
  font-size: 14px;
  line-height: 1.43;
  padding: 8px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  outline: none;
  box-shadow: rgb(205, 209, 212) 0px 0px 0px 1px;
  border: 2px solid transparent;
  font-family: "TruliaSans", system, -apple-system, Roboto, Segoe UI Bold, Arial, sans-serif;

}

.calButton:hover {
  background-color: rgb(245, 246, 247);
}

.calSelected {
  border: 2px solid transparent;
  box-shadow: rgb(0, 173, 187) 0px 0px 0px 2px;
}

/* Inside Cal Button */

.calName {
  margin: -4px 0 0 0;
}

.calDay {
  font-size: 20px;
  line-height: 1.2;
  margin: 5px 0;
  font-family: "TruliaSansBold", system, -apple-system, Roboto, Segoe UI Bold, Arial, sans-serif;

}

.calMonth {
  margin: 5px 0 -2px;
}

/* Time Dropdown */
#timeContainer {
  position: relative;
  padding: 0 0 8px;
}

#timeSelect {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 8px;
  border: 1px solid rgb(205, 209, 212);
  border-radius: 8px;
  font-family: "TruliaSansBold", system, -apple-system, Roboto, Segoe UI Bold, Arial, sans-serif;
  font-size: 16px;
  appearance: none;
  cursor: pointer;
  outline: none;
  transition: box-shadow 0.15s ease 0s, border-color 0.15s ease 0s;
}
#timeSelect:focus {
  box-shadow: rgb(0, 120, 130) 0px 0px 0px 2px;
  border-width: 0;
}

#selectArrow {
  position: absolute;
  top: -13px;
  right: 11px;
  transform: rotate(90deg);
  font-family: cursive;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
}

/* Request Form */

.inputField {
  border-radius: 8px;
  border: 1px solid rgb(205, 209, 212);
  padding: 6px;
  font-size: 16px;
  line-height: 1.5;
  outline: currentcolor none medium;
  transition: box-shadow 0.15s ease 0s, border-color 0.15s ease 0s;
  margin: 4px 8px 4px 0;
}

.inputField:focus {
  box-shadow: rgb(0, 120, 130) 0px 0px 0px 2px;
}

.inputField::placeholder {
  color: rgb(134, 144, 153);
}

#namePhoneFlex {
  display: flex;
  flex-direction: row;
}

#namePhoneFlex input {
  width: 43%;
}

#emailForm {
  width: 94%;
}

.formErr {
  display: flex;
  flex-direction: row;
  align-items: center;
  float: left;
}

#errEmail {
  position: relative;
  float: none;
  margin-top: -10px;
}

.errText {
  color: rgb(255, 94, 63);
  font-size: 12px;
  line-height: 1.1;
  padding-left: 3px;
}

.errSvg {
  height: 16px;
  width: 16px;
  line-height: 1.1;
}

#errNamePhone {
  position: relative;
  margin: -10px 0 0 0;
}

#errPhone {
  right: 12px;
  float: right;
  margin-right: 11px;
}