#container {
  display: flex;
  flex-direction: row;
}

#container input {
  width: 43%;
}

.field {
  border-radius: 8px;
  border: 1px solid rgb(205, 209, 212);
  padding: 6px;
  font-family: "TruliaSans", system, -apple-system, Roboto, Segoe UI Bold, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  outline: currentcolor none medium;
  transition: box-shadow 0.15s ease 0s, border-color 0.15s ease 0s;
  margin: 4px 8px 4px 0;
}

.field:focus {
  box-shadow: rgb(0, 120, 130) 0px 0px 0px 2px;
}

.field::placeholder {
  color: rgb(134, 144, 153);
}

#email {
  width: 94%;
}

#message {
  width: 94%;
  resize: none;
  font-family: "TruliaSans", system, -apple-system, Roboto, Segoe UI Bold, Arial, sans-serif;
}

/* Submit Button */

#submit {
  width: 100%;
  padding: 8px 16px;
  outline: none;
  border: solid transparent 1px;
  border-radius: 8px;
  background-color: rgb(217, 60, 35);
  color: rgb(255, 255, 255);
  font-family: "TruliaSansBold", system, -apple-system, Roboto, Segoe UI Bold, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 4px 0 0 0;
  cursor: pointer;
  transition: top 0.1s ease 0s, box-shadow 0.1s ease 0s, border-color 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s;
}

#submit:hover {
  color: rgb(217, 60, 35);
  background-color: rgb(255, 255, 255);
  border-color: rgb(217, 60, 35);
}

#submit:active {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(156, 17, 20) !important;
  border-color: transparent !important;
  box-shadow: none;
}

#submit:focus {
  color: rgb(217, 60, 35);
  background-color: rgb(255, 234, 216);
  border-color: rgb(217, 60, 35);
  outline: currentcolor none medium;
}
