#container {
  position: relative;
  padding: 0 0 8px;
}

#select {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 8px;
  border: 1px solid rgb(205, 209, 212);
  border-radius: 8px;
  font-family: "TruliaSansBold", system, -apple-system, Roboto, Segoe UI Bold, Arial, sans-serif;
  font-size: 16px;
  color: rgb(59, 65, 68);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  outline: none;
  transition: box-shadow 0.15s ease 0s, border-color 0.15s ease 0s;
}

#select::-ms-expand {
  display: none;
}

#timeSelect:focus {
  box-shadow: rgb(0, 120, 130) 0px 0px 0px 2px;
  border-width: 0;
}

#arrow {
  position: absolute;
  top: -8px;
  right: 11px;
  transform: rotate(90deg);
  cursor: pointer;
  user-select: none;
  pointer-events: none;
}
