#title {
  color: rgb(134, 144, 153);
  flex-direction: row;
  display: flex;
}

#buttons {
  display: inline-flex;
  width: 100%;
}

#tooltip {
  max-width: 33vw !important;
  padding: 3px 10px;
  font-family: "TruliaSans", system, -apple-system, Roboto, Segoe UI Bold, Arial, sans-serif;
  font-size: 16px;
}

.button {
  flex: 1 1 auto;
  border: solid 1px rgb(205, 209, 212);
  cursor: pointer;
  font-weight: normal;
  font-size: 16px;
  color: rgb(59, 65, 68);
  font-family: "TruliaSansBold", system, -apple-system, Roboto, Segoe UI Bold, Arial, sans-serif;
  line-height: 1.5;
  padding: 8px 16px;
  background-color: white;
  outline: none;
}

.tour {
  border-radius: 8px 0 0 8px;
}

.digital {
  border-radius: 0 8px 8px 0;
}

.sel {
  background-color: rgb(0, 120, 130);
  color: rgb(255, 255, 255);
  border: none;
}

.no:hover {
  color: rgb(59, 65, 68);
  background-color: rgb(232, 233, 234);
  border-color: transparent;
}

.no:active {
  color: rgb(255, 255, 255);
  background-color: rgb(134, 144, 153);
  border-color: transparent;
}